MYSQL_ROOT_PASSWORD=replace-with-a-strong-password
MYSQL_DATABASE=pinshengsheng
MINIO_ROOT_USER=pinshengsheng
MINIO_ROOT_PASSWORD=replace-with-a-strong-password
PSS_RABBITMQ_USERNAME=pinshengsheng
PSS_RABBITMQ_PASSWORD=replace-with-a-strong-password

# 例如：http://你的服务器公网IP/files 或 https://mall.example.com/files
PSS_MINIO_PUBLIC_ENDPOINT=http://SERVER_IP/files
