MYSQL_ROOT_PASSWORD=pinshengsheng_root
PSS_MYSQL_PASSWORD=pinshengsheng_root
MYSQL_DATABASE=pinshengsheng
PSS_MYSQL_HOST=127.0.0.1
PSS_MYSQL_PORT=13380
PSS_REDIS_HOST=127.0.0.1
PSS_REDIS_PORT=16379
PSS_NACOS_HOST=127.0.0.1
PSS_NACOS_PORT=18848
NACOS_AUTH_TOKEN=pinshengsheng-nacos-token-change-me
MINIO_ROOT_USER=pinshengsheng
MINIO_ROOT_PASSWORD=pinshengsheng_minio_change_me
PSS_MINIO_ENDPOINT=http://127.0.0.1:9000
PSS_MINIO_PUBLIC_ENDPOINT=http://127.0.0.1:9000
PSS_RABBITMQ_USERNAME=pinshengsheng
PSS_RABBITMQ_PASSWORD=pinshengsheng_rabbit_change_me
PSS_RABBITMQ_HOST=127.0.0.1
PSS_RABBITMQ_PORT=5672
PSS_PRODUCT_SERVICE_URL=http://127.0.0.1:8381
