MYSQL_ROOT_PASSWORD=pinshengsheng_root
PSS_MYSQL_PASSWORD=pinshengsheng_root
MYSQL_DATABASE=pinshengsheng
NACOS_AUTH_TOKEN=pinshengsheng-nacos-token-change-me
MINIO_ROOT_USER=pinshengsheng
MINIO_ROOT_PASSWORD=pinshengsheng_minio_change_me
PSS_RABBITMQ_USERNAME=pinshengsheng
PSS_RABBITMQ_PASSWORD=pinshengsheng_rabbit_change_me
