MYSQL_ROOT_PASSWORD=pinshengsheng_root
MYSQL_DATABASE=pinshengsheng
NACOS_AUTH_TOKEN=pinshengsheng-nacos-token-change-me
MINIO_ROOT_USER=pinshengsheng
MINIO_ROOT_PASSWORD=pinshengsheng_minio_change_me
